/* --------------------------------------
    responsive with max-width: 688
------------------------------------------  */

@media only screen and (max-width: 688px) {
   
    .half-width{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation{
        display: flex;
        flex-direction: column;
    }
    .banner-section{
        display: flex;
        flex-direction: column;
    }
    .half-width{
        width: 90%;
        margin-top: 50px;
    }
    .banner-title{
        color: #3A3A3A;
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        font-weight: 700;
    }
    .banner-section>.half-width>p{
        text-align: justify;
    }
    .banner-img{
        width: 350px;
        height: 250px;
        background-size: 100%;
        margin-bottom: 100px;
    }
    .banner-img img{
        width: 350px;
        height: 300px;
    }
/* -----------------------
    marketplace styles
-------------------------- */
    .marketplace{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
    }
    .marketplace img{
        Width: 65px;
        Height: 20px;
    }
     .influencers{
        display: flex;
        flex-direction: column;
        align-items: center;
     } 
     .influencer{
        width: 280px;
    } 
    .influencer img{
        width: 260px;
        height: 216px;
        padding: 15px 10px;
      }
     .featured-products{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .featured-products-img{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .featured-products>p{
        text-align: justify;
     }
   }

   /* --------------------------------------
    responsive with max-width: 688
------------------------------------------  */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .banner-section{
        display: flex;
        flex-direction: column;
    }
    .half-width{
        margin-top: 90px;
    }
    .marketplace img{
        Width: 50px;
        Height: 25px;
    }
    .influencers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #influencer-last-item{
        text-align: center;
    }
    .influencer img{
        width: 260px;
        height: 216px;
        padding: 15px 10px;
    }
}